input:not([id]):after, label:not([for]):after, button:not([aria-label]):after, html:not([lang]):after, img:not([alt]):after, img[alt=""]:after, h1:not(:only-of-type):after, h6 ~ h1:after,
h6 ~ h2:after,
h6 ~ h3:after,
h6 ~ h4:after,
h6 ~ h5:after,
h5 ~ h1:after,
h5 ~ h2:after,
h5 ~ h3:after,
h5 ~ h4:after,
h4 ~ h1:after,
h4 ~ h2:after,
h4 ~ h3:after,
h3 ~ h1:after,
h3 ~ h2:after,
h2 ~ h1:after, a:not([href]):after, a[href=""]:after, a[href="#"]:after, ul > :not(li):after,
ol > :not(li):after {
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 5px;
  display: inline-block;
  margin-left: 10px;
  clear: both;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

input:not([id]), label:not([for]), button:not([aria-label]), html:not([lang]), img:not([alt]), img[alt=""], h1:not(:only-of-type), h6 ~ h1,
h6 ~ h2,
h6 ~ h3,
h6 ~ h4,
h6 ~ h5,
h5 ~ h1,
h5 ~ h2,
h5 ~ h3,
h5 ~ h4,
h4 ~ h1,
h4 ~ h2,
h4 ~ h3,
h3 ~ h1,
h3 ~ h2,
h2 ~ h1, a:not([href]), a[href=""], a[href="#"] {
  padding: 10px;
  outline: 5px solid #444;
  margin: 20px !important;
}

input:not([id]):after, label:not([for]):after, button:not([aria-label]):after, html:not([lang]):after, img:not([alt]):after, img[alt=""]:after, h1:not(:only-of-type):after, h6 ~ h1:after,
h6 ~ h2:after,
h6 ~ h3:after,
h6 ~ h4:after,
h6 ~ h5:after,
h5 ~ h1:after,
h5 ~ h2:after,
h5 ~ h3:after,
h5 ~ h4:after,
h4 ~ h1:after,
h4 ~ h2:after,
h4 ~ h3:after,
h3 ~ h1:after,
h3 ~ h2:after,
h2 ~ h1:after, a:not([href]):after, a[href=""]:after, a[href="#"]:after {
  background-color: #F9DEDE;
  color: red;
}

ul > *:not(li),
ol > *:not(li) {
  padding: 10px;
  outline: 5px solid #444;
  margin: 20px !important;
}

ul > :not(li):after,
ol > :not(li):after {
  background-color: #FFF1D2;
  color: #f75f07;
}

/* ACCESSIBILITY */
/* input without id */
input:not([id]) {
  outline-color: red;
}

/* label without for */
label:not([for]):after {
  content: 'a11y: Add for attribute to label';
}

/* buttons without aria-label */
button:not([aria-label]):after {
  content: 'a11y: no aria-label found';
}

input[type='button']:not([aria-label]),
input[type='reset']:not([aria-label]),
input[type='submit']:not([aria-label]) {
  border: 10px solid yellow;
}

/* GlOBAL CODE */
/* use a lang attribute on html element */
html:not([lang]):after {
  position: absolute;
  padding: 30px;
  top: 20px;
  right: 20px;
  content: 'a11y: use a lang attribute on the html element';
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 5px 2px rgba(116, 116, 116, 0.31);
          box-shadow: 0px 0px 5px 2px rgba(116, 116, 116, 0.31);
}

/* each page should have a title element */
head > *:not(title) {
  background-color: red;
  /* incomplete */
}

/* IMAGES */
/*
to check for images with 
    no alt attribute 
    empty alt attribute
*/
img:not([height]):not([width]) {
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

/* HEADINGS */
/* to check number of h1 elements */
h1:not(:only-of-type):after {
  content: "a11y: Use only one h1 -moz-element per page or view";
  content: "a11y: Use only one h1 element per page or view";
}

/* to check the sequence of heading tags */
h6 ~ h1:after,
h6 ~ h2:after,
h6 ~ h3:after,
h6 ~ h4:after,
h6 ~ h5:after,
h5 ~ h1:after,
h5 ~ h2:after,
h5 ~ h3:after,
h5 ~ h4:after,
h4 ~ h1:after,
h4 ~ h2:after,
h4 ~ h3:after,
h3 ~ h1:after,
h3 ~ h2:after,
h2 ~ h1:after {
  content: "a11y: Heading elements should be written in a logical sequence, for example, <h2> cannot come before <h1>";
}

/* CONTROL */
/* to check for links with 1. no href , 2. empty value for href, 3. # value fo href */
a:not([href]):after, a[href=""]:after, a[href="#"]:after {
  content: "a11y: href should not be empty or pointing to #";
}

/* SYNTACTICAL ERROR */
/*
ul and ol should only have li as their child elements. 
*/
ul > *:not(li):after,
ol > *:not(li):after {
  content: "syntax: only <li> can be the child of <ul> and <ol> elements";
}

/* h1, div, hr, p inside table */
/* no divs inside inline elements */
/* fieldset where legend isn't the first child */
/* NO IDEA ABOUT IT */
/* summary must be the first child */
/*# sourceMappingURL=a11y.css.map */